# Database Configuration for PostgreSQL service
POSTGRES_USER=nextround_user
POSTGRES_PASSWORD=nextround_password
POSTGRES_DB=nextround_db

# Security Configuration for Backend session
JWT_SECRET=88af2db432a13b6329ad4f828a2a8909477b73cdb6c31bf094a4c519280d5d1c
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENVIRONMENT=development
